.aside {
    padding: 10px;

    &__subtitle {
        margin-top: 24px;
        font-family: $font-main;
        font-size: 14px;
        height: 30px;
        font-weight: normal;
        color: $color-primary;  
    }

    &__title {
        font-family: $font-title;
        font-size: 22px;
        font-weight: bold;
        line-height: 30px;
        margin-top: -10px;
    }
}