.aside {
    padding: 15px;

    @media (min-width:768px) {
        padding: 37px;
    }

    &__subtitle {
        margin-top: 20px;
        font-family: $font-main;
        font-size: 14px;
        height: 30px;
        font-weight: normal;
        color: $color-primary;  

    @media (min-width:768px) {
        font-size: 16px;
    }
    }

    &__title {
        font-family: $font-title;
        font-size: 22px;
        font-weight: bold;
        line-height: 30px;
        margin-top: -10px;
        color: $color-tertiary;

        @media (min-width:768px) {
            font-size: 32px;
            margin-top: 5px;
        }

        &__p {
            font-family: $font-main;
            font-size: 18px;
            line-height: 30px;
            color: $color-fourth;
            margin-top: 10px;

            @media (min-width:768px) {
                font-size: 20px;
            }
        } 
    }

    &__button {
        background-color: $color-secondary;
        padding: 8px;   
        font-family: $font-main; 
        font-size: 20px;
        color: $color-primary ;
        border: 2px solid $color-primary;
        border-radius: 25px ;
        width: 160px;
        margin-top: 40px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: 0,2s;

         &:hover {
            opacity: 0.6;
            // transform: rotate(360deg);
            // transition: 0,8s;
         }

        @media (min-width:768px) {
            margin-top: 20px;
        }
    
    }
}

.asidediv {
    @media (min-width: 1280px) {
        width: 70%;
        margin: 0 auto;
    }
}