.footer {
    padding: 15px;
    background-color: $color-fourth;
    color: white;
    font-family: $font-main;
    line-height: 30px;
    position: relative;

    @media (min-width:768px){
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
        font-size: 16px;
    
    }

    &__copy {
        font-family: $font-main;
        font-size: 14px;
        text-align: center;
        line-height: 30px;
    }

    &__werun {
        text-align: center;
        font-size: 14px;
        font-family: $font-main;
        line-height: 30px;
        margin-bottom: 20px;
    }
}

.heart {
    color: $color-primary;
}

.buttonfooter {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-secondary;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
}



.list1 {
    margin-top: 20px;
    order: 2;
}  

.list2{
    order: 3;
}

.list3 {
    order: 1;
}

