<main class="main">

    <div class="main__titles">
        <h4 class="main__titles__h4">¡Prepáralos con tus marcas favoritas!</h4>
        <h3 class="main__titles__h3">VUELTA AL COLE</h3>
    </div>

    <div class="grid">
        <div class="grid__component">
            <img class="grid__component__img" src="/images/firstpicture.png" alt="student">
            <p class="grid__component__p" >Mochilas escolares</p>
        </div>

        <div class="grid__component">
            <img class="grid__component__img" src="/images/secondpicture.png" alt="student2">
            <p class="grid__component__p" >Estuches</p>
        </div>

        <div class="grid__component">
            <img class="grid__component__img" src="/images/thirdpicture.png" alt="student3">
            <p class="grid__component__p" >Bolsas de deporte</p>
        </div>

       
    </div>

    
        <button class="buttonmain">Empezar ahora</button>

     

</main>